{% load static %}
<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='author' content='Lukáš Ostrihoň'>
    <link rel="stylesheet" href="{% static 'books.css' %}">  
    <title>Odškrtávač</title>
</head>
<body>
<header>
{% if request.user.is_authenticated %}
<small>{{ request.user.username }}</small>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>
    {% if request.user.is_staff %}
        <small>hello, admin</small>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">příhlásit se</a>
    <a href="{% url 'register' %}">registrovat se</a>
{% endif %}
</header>
    {% block content %}
    
    {% endblock %}
<footer>
<ul>
    <li>autor stránky: Já</li>
    <li>Officiální seznam děl naleznete <a href='https://www.spskladno.cz/files/administrativa/mz2024/CJL.pdf'>zde</a></li>
</ul>
</footer>
</body>
</html>